body{

padding-top:70px;

background:#f4f4f4;

}


.banner{

height:500px;

object-fit:cover;

}


.card{

transition:.5s;

height:100%;

box-shadow:0 0 10px rgba(0,0,0,.2);

}


.card:hover{

transform:scale(1.03);

}


.card img{

height:250px;

object-fit:cover;

}


h1,h2{

color:#198754;

}


.shadow{

box-shadow:0 0 15px rgba(0,0,0,.3);

}


footer{

margin-top:50px;

}